body {
    background-image: url("../image/Ellipse\ 53.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 600px;
    max-width: 100%;
    height: 100vh;
    font-family: 'Poppins' !important;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 600px) {
      body {
        background-image: none !important;
      }
  }
  
  .content-fluid {
      padding-left: 50px !important;
      padding-right: 50px !important ;
  }
  /* :::::::::::::: START NAVIGATION ::::::::::::::*/
  
  nav.navbar {
      padding-left: 35px;
      padding-right: 27px;  
  }
  
  .navbar-brand {
      margin: 0px;
  }
  
  nav .navbar-nav li a.dropdown-item:hover {
      color: #B0DEFF;
      background: none;
}
      
  
  nav .navbar-nav li {
      padding-right: 3px;
      
  }
  
  nav .navbar-nav li a {
      color: black;
      font-size: 20px;
  }
  
  nav .navbar-nav li .nav-link:hover {
    color: #205295 !important;
    font-weight: 600;
  }

  .bg-transparent.scrolled {
    background: #FFFF !important;
    shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  /* :::::::::::::: END NAVIGATION ::::::::::::::*/
/* CSS Konten Kepokmas */
h5 {
    line-height: 30px !important;
  }
  
  .card-title {
    font-weight: bold;
    font-size: 16px;
    display: flex;
  }
  
  .card-text {
    font-size: 12px;
  }
  
  .text-button {
    color: #919191;
  }
  
  .text-button:hover {
    color: #000;
  }
  
  .kepokmas {
  color: black;
  font-size: 25px;
  font-weight: 800 !important;
  margin-left: -65px;
  }
  /* POP UP */
  #popup {
      width: 100%;
      height: 100%;
      position: fixed;
      background: rgba(0,0,0,.7);
      top: 0;
      left: 0;
      z-index: 9999;
      visibility: hidden;
  }
  
  .window {
      width: 50%;
      height: 80%;
      background: #fff;
      border-radius: 10px;
      position: relative;
      padding: 10px;
      text-align: center;
      margin: 8% auto;
  }
  .namakenaikan {
    margin-left: 10px;
    color: black;
    font-weight: 400;
    text-align: left;
    margin-top: 20px;
  }

  .namakenaikan2 {
    margin-left: -480px !important;
    color: black;
    font-weight: 600;
  }

  .buttonkenaikan5 {
    margin-left: -310px;
  }

  .window h2 {
      margin: 30px 0 0 0;
  }
  /* Button Close */
  .close-button {
      width: 7%;
      height: 10%;
      line-height: 23px;
      background: #000;
      border-radius: 50%;
      border: 3px solid #fff;
      display: block;
      text-align: center;
      color: #fff;
      text-decoration: none;
      position: absolute;
      top: -10px;
      right: -10px;	
  }
  
  /* Memunculkan Jendela Pop Up*/
  #popup:target {
      visibility: visible;
  }
  .sumberdata1 {
  margin-left: 800px;
  color: black;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 30px;
  }

  .puskesmasjudul {
    margin-left: -750px;
    margin-top: 100px;
    font-size: 25px;
    font-weight: 600;
    color: black;
  }

  .judulbawa {
    margin-left: -67px;
    color: black;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .babakan {
    color: black;
    font-weight: 600;
  }

  .pussar {
    font-size: 30px;
  }

  .dokterpoli {
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin-left: -200px;
    margin-top: 40px;
  }

  .alamatpuskes {
    font-size: 18px;
    font-weight: 600;
    color: black;
  }

  .puskess {
    height: 25px;
    margin-left: 190px;
    color: black;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 770px;
    margin-bottom: 50px;
  }
.section {
    height: 25vh;
    width: auto;
}

.body-section {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-white {
    background-color: #fff;
    border: 1px solid #101010;
    padding: 20px 20px 20px 20px;
    width: 800px;
    height: fit-content;
    border-radius: 10px;
}

.input-field input {
    border-radius: 3px;
    border: 1px solid;
}

.mt-5-dss {
    color: black;
    font-size: 25px;
    font-weight: 600;
    margin-left: 40px;
    margin-top: 50px;
}

.mt-5-bawahdss {
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin-left: 40px;
}
.section {
  height: 25vh;
  width: auto;
}

.body-section {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-white {
  background-color: #fff;
  border: 1px solid #101010;
  padding: 20px 20px 20px 20px;
  width: 800px;
  height: fit-content;
  border-radius: 10px;
}

.input-field input {
  border-radius: 3px;
  border: 1px solid;
}

.swittamagoyaki {
  margin-left: 500px;
  color: black  !important;
  margin-top: 30px;

}
.total2 {
 margin-left: 400px;
 color: white;
}

.bauuutondssnih {
  margin-bottom: 40px;
}

.dss3 {
  color: black;
  font-weight: 600;
}

.tamagoyaki {
  margin-bottom: 100px !important;
  margin-left: 200px;
  margin-top: -120px;
  color: white;
}

.total {
  margin-top: -100px;
  margin-left: 200px;
  color: white;
}

.final {
  color: white;
  font-size: 18px;
  margin-left: 200px;
  margin-top: -180px;
}

.total3 {
  color: white;
  font-size: 15px;
  margin-left: 200px;
  
}

.tamagoyakii {
  margin-left: 150px;
  margin-bottom: 100px !important;
}