body {
    background-image: url("../image/Ellipse\ 53.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 600px;
    max-width: 100%;
    height: 100vh;
    font-family: 'Poppins' !important;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 600px) {
      body {
        background-image: none !important;
      }
  }
  
  .content-fluid {
      padding-left: 50px !important;
      padding-right: 50px !important ;
  }
  /* :::::::::::::: START NAVIGATION ::::::::::::::*/
  
  nav.navbar {
      padding-left: 35px;
      padding-right: 27px;
      
      
  }
  
  .navbar-brand {
      margin: 0px;
  }
  
  nav .navbar-nav li a.dropdown-item:hover {
      color: #B0DEFF;
      background: none;
}
      
  
  nav .navbar-nav li {
      padding-right: 3px;
      
  }
  
  nav .navbar-nav li a {
      color: black;
      font-size: 20px;
  }
  
  nav .navbar-nav li .nav-link:hover {
    color: #205295 !important;
    font-weight: 600;
  }
  
  
  
  /* :::::::::::::: END NAVIGATION ::::::::::::::*/
section.decsription {
    margin-top: 110px;
    margin-bottom: 10px;
    font-weight: 200;
    color: black;
    
}

.bg-transparent.scrolled {
    background: #FFFF !important;
    shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
.desc1 {
    font-size: 25px;
    text-align: center; 
    color: black;
    font-weight: 600;
    line-height: 48px;
    padding-left: 20px;
}

.desc2 {
    font-size: 20px;
    text-align: left; 
    color: black;
    padding-top: 10px;
    padding-bottom: 0px;
    line-height: 48px;
    font-weight: 400;
    padding-left: 22px;
}
.desc3 {
    font-size: 20px;
    text-align: center; 
    color: black;
    padding-top: -5px;
    padding-bottom: 35px;
    line-height: 28px;
    font-weight: 400;
    padding-left: 22px;
}

.p {
    font-size: 35px;
    text-align: left; 
    color: black;
    padding-top: -2px;
    padding-bottom: 25px;
    line-height: 21px;
    font-weight: 200px;
    padding-left: 22px;
}


 /* :::::::::::::: start desc PMI ::::::::::::::*/
.pengertian1 {
    font-size: 25px;
    text-align: left; 
    color: black;
    font-weight: 600;
    line-height: 48px;
    padding-left: 8px;
}

.cardgda {
  margin-top: -360px !important;
}
.cardgd {
  margin-top: -30px !important;
}
.pengertian2 {
    font-size: 23px;
    text-align: left; 
    color: black;
    font-weight: 500;
    line-height: 30px;
    padding-left: 8px;
    padding-bottom: 10px;
    
}
/* :::::::::::::: end desc PMI ::::::::::::::*/

/* :::::::::::::: start button pmi ::::::::::::::*/
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 0px;
    border-radius: 25px;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #ffff;
  }
  
  .button1:hover {
    background-color: #205295;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #ffff;
  }
  
  .button2:hover {
    background-color: #205295;
    color: white;
  }
/* :::::::::::::: start button pmi ::::::::::::::*/
/* :::::::::::::: start card pmi ::::::::::::::*/

.card-title-sebelah {
    margin-left: 70%;
    color: black;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: -0px;
}
.card-title-crd {
    margin-right: 50%;
    color: black;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: -0% !important;
   
}
.card-text-nemu {
    font-size: 17px;
    font-weight: 60;
    color: black;
    margin-bottom: 2%;

}

.text-muted-last {
    color: black;
}

.buttondc {
    margin-top: -20%;
    margin-bottom: 50px;
}

.card-h-100 {
    width: 106px;
    height: auto;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* :::::::::::::: start page not found pmi ::::::::::::::*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: medium;
}

.body {
    background: linear-gradient(45deg, #8500ff, #5acaff);
    height: 100vh;
}

#container {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../image/p404.png"),#151729;
    box-shadow: 0 15px 30px rgba(0,0,0,.5);

}

#container .content {
    max-width: 600px;
    text-align: center;
}

#container .content h2 {
    font-size: 45px;
    color:#ffff;
    line-height: 1em;
}

#container .content h4 {
    position:relative;
    font-size: 600;
    margin-bottom: 20px;
    color: #111;
    font-weight: 600;
    background: #FFFF;
    padding: 10px 20px;
    display: inline-block

}

/* :::::::::::::: end page not found pmi ::::::::::::::*/

/* :::::::::::::: start page box tentang arimbi  ::::::::::::::*/

.card-header-awal {
    font-weight: 600;
    margin-top: 25px;
    margin-left: 25px;
    color: black;
}

.card-text-desk {
    color: black
}
/* :::::::::::::: end page box tentang arimbi  ::::::::::::::*/

/* :::::::::::::: start page box tentang arimbi2  ::::::::::::::*/

section.decsription {
    margin-top: 150px;
    margin-bottom: 40px;
    height: 100%;
}

.deskawal1 {
    font-size: 40px;
    color: black;

}

.deskawal2 {
    font-size: 30px;
    color:black
}

.card-title {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-right: 45px;
}

.card-text {
    color: black;
    font-size: 15px;
    text-align: left;
    margin-left: 200px;
}

.col-sm-6 {
    margin-bottom: 60px;
}

.card-title2 {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-left: 60px;
}

.card-title1 {
    margin-left: 200px;
    color: black;
}

.pe {
    font-size: 25px;
    color: #111;
    font-weight: 600;
    margin-bottom: 30px;
}


/* :::::::::::::: end desc pusat hubungui ::::::::::::::*/

/* :::::::::::::: start desc pusat hubungui ::::::::::::::*/
section.decsription {
    margin-top: 110px;
    margin-bottom: 10px;
    font-weight: 200;
    color: black;
}
.desc1 {
    font-size: 25px;
    text-align: left; 
    color: black;
    font-weight: 600;
    line-height: 68px;
    padding-left: 10px;
}
/* card-bantuan */
.bantuan1 {
    margin-left: 800% !important;
    margin-right:50%;
    margin-top: -76px;
    height: 0px;

}

.bantuan66 {
  margin-top: -650px;
  margin-bottom: 70px I !important;
  
}


.desc19 {
font-size: 25px;
font-weight: 600;
margin-left: 7px;
color: black;
margin-top: 130px;
}

.pusat {
  color: black;
  margin-top: 100px;
}

@media only screen and (max-width: 600px) {
  .bantuan1 {
    width: 300px !important;
  }
}

.card-body ul.b li a {
  color: black;
  font-weight: 500;
}

.card-body ul.b li a:hover {
  color: black;
  font-weight: 600;
}

.penjelasan {
    text-align: center;
    font-size: 25px;
    padding-left: 2%;
    padding-right: 25%;
    margin-top: -27%;

}

.dek1 {
    font-size: 20px;
    padding-left: 10%;
    padding-right: 25%;
    margin-top: -68%;
    margin-bottom: 30%;
}

.list1 {
  margin-left: 300px;
  margin-right: 70px;
  padding-top: -5px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 120px;
  margin-bottom: -70%;
  text-align: left;
  
}
.list2 {
    font-size: 20px;
    margin-left: 300px;
    text-align: left;
    margin-top: -2%;
    margin-bottom: -50%;
    margin-top: 120px;
 
}

.hijauness {
  font-size: 21px;
  font-weight: 400;
  margin-left: 370px;
  margin-top: -400px;
  color: #000000;
}

.listmembuka {
  margin-left: 360px;
  color: black;
}

.biruness {
  font-size: 16px;
  font-weight: 400;
  padding-top: 5px;
}

.rabbit {
  margin-left: 360px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: black;
}

.pusathubungi {
  margin-bottom: 130px;
}
.kuchenk {
  margin-left: 310px;
  font-size: 22px;
  font-weight: 400;
}

.kepokmasperiangan {
  margin-left: 300px;
  font-size: 22px;
  margin-top: 20px;
}

.pdpasar {
  margin-left: 350px;
  margin-top: 20px;
  color: #000000;
  margin-bottom: 240px;
}

.taki {
  margin-left: 370px;
  color: black;
  font-size: 18px;
}

.bantuanrumahsakit {
  margin-left: 370px;
  color: black;
  font-size: 25px;
  margin-bottom: 170px;
}
/* :::::::::::::: End desc ::::::::::::::*/
/* :::::::::::::: start list box::::::::::::::*/
ul.a {
    list-style-type: circle;
  }
  
  ul.b {
    list-style-type: square;
  }
  
  ol.c {
    list-style-type: upper-roman;
  }
  
  ol.d {
    list-style-type: lower-alpha;
  }
  ol.d {
    list-style-type: lower-alpha;
  }
/* :::::::::::::: END list box ::::::::::::::*/
/* :::::::::::::: start desc bantuan arimbi ::::::::::::::*/
.pusat {
  margin-left: -4%;
  margin-right: 20%;
}

.desck-content-fluid {
  margin-left: 20px;
  margin-right: 150px;
  margin-bottom: 0px;
}
/* :::::::::::::: end desc bantuan hubungui ::::::::::::::*/

/* :::::::::::::: start desc pusat hubungui ::::::::::::::*/

.foto1 {
  width: 200;
  height: 305px;
  margin-left: 320px;
  margin-right: 120px;
  z-index: 1;
  position: relative;
  top: -100px;
  margin-top: -110px;
}

@media only screen and (max-width: 600px) {
  .foto1 {
    top: 2900px;
    width: 35%;
  }
}


.dess123 {
    font-size: 27px;
    font-weight: 700;
    margin-left: 440px;
    font-weight: 40px !important; 
    margin-top: 110px;
    color: black;
    margin-top: -280px;
   
}
.dess2 {
    margin-left: 150px;
    text-align: center;
    color: black;
}

.bantuanlg {
    padding-bottom: 100px;
    margin-top: -170px;
}

body {
    font-family: "Lato", sans-serif;
  }
  
 /* :::::::::::::: START SECTION Table Data ATCS ::::::::::::::*/
section.visual{
  margin-bottom: 70px;
  margin-left: 50px;
  margin-top: -90px;
}

.card-h{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 420px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: initial;   
  margin-top: -470px !important;
}

@media only screen and (max-width: 600px) {
  .card-h {
    width: 300px !important;
  }
}

.card-judul{
  margin: -20px -20px;
}

.titlejml{
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 10px;
}

.tbdata {
  max-height: 500px;
  overflow: auto;
  display:inline-block;
}

@media only screen and (max-width: 600px) {
  .tbdata {
    width: 280px !important;
  }
}

.tbdata table {
  border-radius: 10px !important;
  border-spacing: 0px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
}

.tbdata table th, td {
  font-weight: 200;
  line-height: 36px;
  color: #000000;
}

.tbdata table tr:hover {
  background-color: #F6F6F6;
}

.has-search2 {
  position: relative;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}



@media only screen and (max-width: 600px) {
  .has-search2 {
    width: 100% !important;
    padding: 0px !important;
  }
}

.has-search2 .form-control {
  padding-right: 2.375rem;
  border: 2px solid #000000; 
  border-radius: 8px;
}

.has-search2 .form-control-feedback2 {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  color: #000000;
  right: 0;
  top: 0;
  background-color: transparent;
  border: 0px;
}

@media only screen and (max-width: 600px) {
  .has-search2 .form-control-feedback2 {
    width: 50% !important;
  }
}

@media only screen and (max-width: 600px) {
  .has-search2 .form-control-feedback2 {
    width: 70% !important;
    padding: 0px !important;
    padding-left: 50% !important;   
  }
}
/* :::::::::::::: END SECTION Table Data ::::::::::::::*/

/* :::::::::::::: START SECTION Table Data ATCS ::::::::::::::*/

.atcs {
  font-size: 25px;
  text-align: left; 
  color: black;
  font-weight: 600;
  line-height: 30px;
}

.atcs2 {
  font-size: 21px;
  text-align: left; 
  color: black;
  font-weight: 500;
  line-height: 28px;
}

.attcs {
  font-size: 80px;
  color: black;
  line-height: 20px;
  font-weight: 500;
}


.satu {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  padding-top: 40px;
}
@media screen and (max-width: 534px) {
  .satu {
    width: auto !important;
    text-align: center !important;
  }
}

.card-text45 {
  font-size: 18px;
  color: black;

}

.card-text45 {
  color: black;
}

.card-title-lima {
  color: black;
}

@media only screen and (max-width: 600px) {
  .rew {
    width: 300px !important;
  }
}

@media only screen and (max-width: 600px) {
  .limabelas{
    width: 600px !important;
  }
}

/* :::::::::::::: end SECTION Table Data ATCS ::::::::::::::*/

/* :::::::::::::: START SECTION card golongandarah ::::::::::::::*/

.card-header {
  color: black;
  font-size: 17px;
  font-weight: 600;
  text-align: left;
}

.card-titlegol {
  text-align: left;
  color: black;
  font-size: 15px;
  font-weight: 400;
  
}

.card-text5 {
  color: black;
  font-size: 17px;
  font-weight: 400;
}

.boxarimbi12 {
  margin-bottom: 90px  !important;
  margin-top: -30px;
  padding-bottom: 30px !important;
}
/* :::::::::::::: end SECTION card golongan darah PMI ::::::::::::::*/
/* :::::::::::::: START SECTION maps PMI ::::::::::::::*/

.card-paw {
  margin-left: 4px !important;
  width: 1250px;
  margin-top: 70px !important;
}


.card-pmi {
  height: 330px;
  width: 550px;
  margin-left: 40px;
}



.sm2 {
  margin-bottom: 700px;
}

.titledesc {
  color: black;
  text-align: left;
}

.bodypmi {
  text-align: left;
  color: black;
}

.limaenam {
 margin-left: -14px;
 font-weight: 600;
}



.tujuhdelapan {
  margin-left: 63px;
  
}

.sembilan {
  margin-left: 60px;

}

.sepuluh {
  margin-left: 80px;
  margin-right: 50px;
}

.hijau {
  margin-right: 2px;
  font-weight: 600;
}

.ungu {
  margin-left: 62px;
  margin-top: -10px;
  line-height: 20px;

}

.rounded-start {
 margin-left: 70px;
 margin-top: 50px;
 max-width: 100px !important;
 max-height: 100px !important;
}

.biru {
  margin-left: 20px;
  ;

}

.kuning {
  margin-left: 20px;
  margin-top: -14px;
}

.putih {
  margin-left: 13px;
  margin-top: -13px;

}
.hitam {
  margin-left: 13px;
  margin-top: -14px;
}

.merah {
  margin-left: 15px;
  margin-top: -14px;
}

.coklat {
  margin-left: 20px;
  margin-top: -14px;
}

.krem {
  margin-left: 20px;
  margin-top: -14px;
}

.golongandrh {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 20px !important;
  height: 300px;
  

}
.boxgolongan {
  height: 340px;
  margin-top: -20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 10px !important;
}

.boxgolongan2 {
  margin-left: 630px;
  margin-top: -360px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 10px !important;
}

.ftpmi img.ftpmii{
  padding: 40px 10px 0px ;
}

.card {
  margin-bottom: 50px;
  margin-top: 100px;
}

.pengertianpmi {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* :::::::::::::: end SECTION maps PMI ::::::::::::::*/
/* CSS Konten Kepokmas */
h5 {
  line-height: 30px !important;
  margin-left: -70px;
}

.card-title23 {
  font-weight: bold;
  font-size: 16px;
  display: flex;
}

.card-textlima {
  font-size: 12px;
}

.text-button {
  color: #919191;
}

.text-button:hover {
  color: #B0DEFF;
}

section.pagin{
  padding-left: 22px;
  padding-bottom: 50px;
}

nav .pagination{
  padding-bottom: 20px;
  position: absolute;
  left: 45%;
}

nav ul.pagination li.page-item a.page-link{
  color: #000000;
  font-weight: 600;
}

nav ul.pagination li.page-item a.page-link:hover:not(.active){
  background-color: #B0DEFF;
}
/* CSS Konten Kepokmas */

.pengertian89 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.pengertian90 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.pengertian91 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
}

.pe1 {
  font-size: 21px;
  margin-top: 40px;
  font-weight: 600;
  margin-left: 18px;
}

.boxbawaharimbi {
  margin-left: 500px;
  margin-top: 100px;
  margin-bottom: 40px;
}

.logoarimbi1 {
  margin-left: 200px !important;
  margin-top: -290px !important;
  width: 180px;
  height: 280px;
  margin-bottom: 70px;
}

 

/* :::::::::::::: start SECTION rumah sakit ::::::::::::::*/

.rumahsakit1 {
  margin-left: 490px;
  margin-top: -770px;
  font-size: 19px;
  font-weight: 400;
  color: black;
}

.rumahsakit2 {
  margin-left: 490px;
  margin-top: -10px;
  font-size: 19px;
  font-weight: 400;
  color: #000000;
}

.titlers {
  font-size: 18px;
  color: black;
  font-weight: 400;
  margin-left: 20px;
}



.rspenjelasan {
  font-size: 18px;
  color: black;
  font-weight: 600;
  margin-left: 68px;
  padding-top: 17px;
}

.keterangan {
  margin-left: 540px;
  margin-top: 160px !important;
 
}



.card-gg{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 260px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: initial;   
  margin-top: -70px !important;
}

@media only screen and (max-width: 600px) {
  .card-gg {
    width: 300px !important;
  }
}

.titlejmlah{
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px;
}

.tbdata1 {
  max-height: 500px;
  overflow: auto;
  display:inline-block;
}

@media only screen and (max-width: 600px) {
  .tbdata1 {
    width: 280px !important;
  }
}

.tbdata1 table {
  border-radius: 10px !important;
  border-spacing: 0px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
}

.tbdata1 table th, td {
  font-weight: 90;
  line-height: 16px;
  color: #000000;
}

.tbdata1 table tr:hover {
  background-color: #F6F6F6;
}

.has-search2 {
  position: relative;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}



@media only screen and (max-width: 600px) {
  .has-search2 {
    width: 100% !important;
    padding: 0px !important;
  }
}

.has-search2 .form-control {
  padding-right: 2.375rem;
  border: 2px solid #000000; 
  border-radius: 8px;
}

.has-search2 .form-control-feedback2 {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  color: #000000;
  right: 0;
  top: 0;
  background-color: transparent;
  border: 0px;
}

@media only screen and (max-width: 600px) {
  .has-search2 .form-control-feedback2 {
    width: 50% !important;
  }
}

.titlers5 {
  font-size: 18px;
  color: black;
  font-weight: 400;
  margin-left: -50px;
}

.titlers6 {
  font-size: 18px;
  color: black;
  font-weight: 400;
  margin-left: -170px;
}

.sumberdata {
  margin-left: 750px;
  color: black;
  font-size: 18px;
  font-weight: 400;

}


/* :::::::::::::: start desc bantuan rumah sakit ::::::::::::::*/

.hijauness1 {
  margin-left: 370px;
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin-top: -370px;
} 

/* :::::::::::::: end desc bantuan rumah sakit ::::::::::::::*/
/* :::::::::::::: start home bantuan  ::::::::::::::*/

.bantuan00 {
  margin-top: -650px;
}

.bantuanini {
 margin-top: -650px;
}

.hijaunessdd {
  color: black;
  margin-top: -380px;
  margin-left: 370px;
  font-size: 25px;
}
.kepokmasperiangan {
  color: black;
  margin-left: 350px;
  margin-top: 20px;
  margin-bottom: 90px;
}

.bantuanpasar {
  margin-top: -640px;
}

.piww {
  margin-top: -380px;
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin-left: 360px;
}

.bantuan14 {
  margin-top: -640px;
}

.hijaunesssia {
  margin-left: 360px;
  color: black;
  font-size: 20px;
  margin-top: -370px;

}

.babakan {
  margin-top: 10px !important;
  margin-bottom: 0px;
}

.puskesmasjudul {
  margin-top: 100px;
  font-weight: 600;
  font-size: 25px;
  margin-right: 950px  !important;
}
.judulbawa {
  margin-left: -70px;
}

.puskes1 {
  margin-left: 290px;
  font-size: 18px;
  font-weight: 400;
  margin-top: -30px;
}

.tamagoyaki {
  color: white;
  font-weight: 600;
  margin-left: -250px;
  margin-top: 30px;
}

.swittamagoyaki {
  color: white;
  font-weight: 600;
  margin-left: -200px;
  margin-top: 30px;
}

.total {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-left: -56px;
}

.total2 {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-left: -60px;
}

.final {
  color: white;
  font-weight: 600;
  margin-left: -260px;
  margin-top: 30px;
}
.total3 {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-left: -62px;
}

.atcsvidei {
  height: 420vh !important;
}

.atcsdalem {
  height: 450vh !important;
  margin-top: 20px;
  background-color: black !important;
}
.jlaceh {
  color: black;
  font-weight: 600;
  font-size: 18px;
}

.table-bordered {
  background-color: #B0DEFF;
  box-sizing: border-box !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  font-weight: 600;
}
.col1 {
  color: black !important;
  font-weight: 600;
}
.topik {
  margin-left: -30px;
}

.topik2 {
  margin-left: 28px;
}

.topik23 {
  margin-left: -27px !important;
}

.topik55 {
margin-left: 27px;
}

.cardnegatif {
  margin-top: -360px;
  height: 200vh;
  margin-left: ;
}

.bodynegatif {
  background-color: #EFEFEF;
  height: 67vh;
  background-image: url("../image/notfound.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 800px;
  max-width: 100%;
  background-op;
  
}

.buttonnegatif {
  margin-left: 625px;
  margin-top: 250px;
  font-size: 20px;
  font-weight: 600;
}
.negatifdes {
  font-size: 20px;
  font-weight: 600;
  margin-left: 90px;
  margin-top: 30px;
}
